.icon {
    alignment: left;
}

.cont {
    display: inline-block;
    width: 100%;
}

.content {
    padding-left: 100px;
    align-content: flex-start;
}

.card {
    padding: 10px;
    border-radius: 10px;
    transition: transform .2s;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
}


