html {
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F7F8F7;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

form{
  padding: 20px;
  margin-top: 60px;
}
form button, form h5{
  margin:  20px 0;
}
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not(.browser-default):focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}
.card {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}


